.titulo
{
    font-size: 70px;
    text-align: center;
    padding-top: 20px;

}

.ptitulo
{
    text-align: center;
    font-size: 20px;
}

h2
{
    font-size: 37px;
    margin-top: 30px;
    margin-left: 10px;
}

.solar
{
    position: relative;
    left: 400px;
    width:  60%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;


}

.solar p 
{
    text-align: justify-all;
    margin:10px;
    font-size: 22px;
}

.imgSolar
{
    width: 40%;
    border-radius: 20px;
    margin: 10px;
    float: left;
}

.almacenamiento
{
    position: relative;
    left: 400px;
    width:  60%;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
}

.almacenamiento p 
{
    text-align: justify-all;
    margin:10px;
    font-size: 22px;
}

.imgBateria
{
    width: 40%;
    border-radius: 20px;
    margin: 10px;
    float: left;
}


.auditorias
{
    position: relative;
    left: 400px;
    width:  60%;
    top: 25px;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
}

.auditorias p
{
    text-align: justify-all;
    margin:10px;
    font-size: 22px;
}

.imgAuditoria
{
    width: 30%;
    border-radius: 20px;
    margin: 10px;
    float: right;
}

.tranquilidad
{
    position: relative;
    left: 400px;
    width:  60%;
    top: 55px;
    height: auto;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
}

.tranquilidad p
{
    text-align: justify-all;
    margin:10px;
    font-size: 22px;
}

.imgtranquilidad
{
    width: 20%;
    border-radius: 20px;
    margin: 10px;
    float:left;
}

.producto
{
    position: relative;
    left: 400px;
    width:  60%;
    top: 55px;
    height: 220px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
    margin-bottom: 100px;
}
.producto p
{
    text-align: justify-all;
    margin:10px;
    font-size: 22px;
}

.imgproducto
{
    width: 30%;

    border-radius: 20px;
    margin: 10px;
    float: left;
}